body, html, {
  height: 100%;
  width: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

form:nth-child(2) {
  margin-top: 20px;
}


h1 {
  margin-left: 40px;
  display: inline-block;
}

.cal-container, .maplist-container {
  margin: 2%;
  width: 46%;
}

.cal-container {
  float:left;
}

.maplist-container {
  float:right;
}

.modal-content {
  padding: 40px;
}

.navbar {
  padding-left: 10px;
  padding-right: 10px;
}

.team-dropdown {
  display: inline-block;
  margin-left: 60px;
  vertical-align: middle;
}

#list {
  display: none;
  margin: auto;
  overflow: auto;
}

#map {
  height: 65vh;
  margin: auto;
  width: 45vw;
}

#create_form {
  display:none;
}

#visit_list {
  display: none;
  margin-top: 20px;
}
