/*
Author: gooWee - gooWee@mail.com
Author URI: http://www.goowee.io/
*/

/******<< Global Styles >>******/

footer {
  margin: 0 20px;
  clear: both;
}

form:nth-child(2) {
  margin-top: 20px;
}

/******<< Dashboard Styles >>******/



#map {
  height: 65vh;
  margin: auto;
  width: 45vw;
}
