/*
Author: gooWee - gooWee@mail.com
Author URI: http://www.goowee.io/
*/

/******<< Global Styles >>******/

body, html {
  height: 100%;
  width: 100%;
}

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

footer {
  margin: 0 20px;
  clear: both;
}

form:nth-child(2) {
  margin-top: 20px;
}

h1 {
  margin-top: 0px;
}

h2 {
  margin-left: 40px;
  display: inline-block;
}

/******<< Nav Styles >>******/

.navbar {
  padding-left: 10px;
  padding-right: 10px;
}

/******<< Dashboard Styles >>******/

.cal-container, .maplist-container {
  margin: 2%;
  width: 46%;
}

.cal-container {
  float:left;
}

.maplist-container {
  float:right;
}

.nodisplay {
  display: none;
}

.team-dropdown {
  display: inline-block;
  margin-left: 40px;
  vertical-align: middle;
}

#list {
  margin: auto;
  overflow: auto;
}

#map {
  height: 65vh;
  margin: auto;
  width: 45vw;
}

#visit_list {
  margin-top: 20px;
}

#saveVisitSubmit {
  display: none;
}

.createform {
  margin: 3rem 20rem;
}
