/*
Author: gooWee - gooWee@mail.com
Author URI: http://www.goowee.io/
*/

/******<< Global Styles >>******/

body {
  padding-bottom: 20px;
  padding-top: 50px;
}

section {
  margin-top: 80px;
}

span {
  font-size: 30px;
  margin: 40px 20px;
}

table {
  margin: 40px auto;
}

td {
  padding: 20px;
  vertical-align: middle;
}

td:first-child {
  text-align: center;
}

.img_placeholder {
  background-color: gray;
  border-radius: 10px;
  height: 300px;
  width: 500px;
}

.nodisplay {
  display: none;
}

/******<< Nav Styles >>******/

nav p {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.1;
}

.navbar {
  padding-left: 10px;
  padding-right: 10px;
}

#dummysignin {
  background-color: #aaa;
  color: #fff;
}
