body {
  padding-top: 50px;
  padding-bottom: 20px;
}

section {
  margin-top: 80px;
}

span {
  font-size: 30px;
  margin: 40px 20px;
}

table {
  margin: 40px auto;
}

td {
  padding: 20px;
  vertical-align: middle;
}

td:first-child {
  text-align: center;
}

.img_placeholder {
  height: 300px;
  width: 500px;
  background-color: gray;
  border-radius: 10px;
}

.navbar {
  padding-left: 2%;
  padding-right: 2%;
}

#dummysignin {
  background-color: #aaa;
  color: #fff;
}

#signin {
  display: none;
}
