/*
Author: gooWee - contact@goowee.io
Author URI: http://www.goowee.io/
*/

/******<< Global Styles >>******/

body, html {
  height: 100%;
  width: 100%;
}

body {
  padding-bottom: 20px;
  padding-top: 50px;
}

h1 {
  margin-top: 0px;
}

h2 {
  margin-left: 40px;
  display: inline-block;
}

h3 {
  margin-bottom: 40px;
}

/******<< Nav Styles >>******/

.navbar {
  padding-left: 10px;
  padding-right: 10px;
}

.index nav p {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.1;
}

.index .navbar {
  padding-left: 10px;
  padding-right: 10px;
}

#dummysignin {
  background-color: #aaa;
  color: #fff;
}

/******<< Section Styles >>******/

section {
  margin-top: 30px;
  margin-bottom: 40px;
}


#list {
  margin: auto;
  overflow: auto;
}

.nodisplay {
  display: none;
}

.topspacing {
  margin-top: 40px;
}

/******<< Index Styles >>******/

.index section {
  margin-top: 80px;
}

.index table {
  margin: 40px auto;
}

.index td {
  padding: 20px;
  vertical-align: middle;
}

.index td:first-child {
  text-align: center;
}

.thumbnail p {
  font-size: 30px;
}

/******<< Dashboard Styles >>******/

.cal-container, .maplist-container {
  margin: 2%;
  width: 46%;
}

.cal-container {
  float:left;
}

.maplist-container {
  float: right;
}

.team-dropdown {
  display: inline-block;
  margin-left: 40px;
  vertical-align: middle;
}

#visit_list {
  margin-top: 20px;
}

#saveVisitSubmit {
  display: none;
}

.createform {
  margin: 3rem 20rem;
}

form:nth-child(2) {
  margin-top: 20px;
}

/******<< Edit Styles >>******/

/*select {
  width: 100%;
  margin-top: 5px;
}*/

/*****>> nav styles <<*****/

/*****>> side nav styles <<*****/

.visit-search-list {
  overflow: auto;
  font-size: 14px;
  font-weight: 400;
  background-color: #fff;
  /*display: inline-block;*/
  color: #333;
  letter-spacing: 1px;
  left: 50%;
  position: fixed;
  height: 59vh;
  width: 45vw;
  border: 1px solid #ccc;
  margin: 2%;
}

.visit-search-list h4 {
  margin-left: 1rem;
}

.visit-search-list ul,
.visit-search-list li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.visit-search-list ul :not(collapsed) .arrow:before,
.visit-search-list li :not(collapsed) .arrow:before {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.visit-search-list ul .sub-menu li.active a,
.visit-search-list li .sub-menu li.active a {
  color: #333;
}
.visit-search-list ul .sub-menu li,
.visit-search-list li .sub-menu li {
  background-color: #fff;
  border: none;
  line-height: 28px;
  margin-left: 0px;
}
.visit-search-list ul .sub-menu li:hover,
.visit-search-list li .sub-menu li:hover {
  background-color: #fff;
}
.visit-search-list ul .sub-menu li:before,
.visit-search-list li .sub-menu li:before {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.visit-search-list li {
  padding-left: 0px;
  border-bottom: 1px solid #ccc;
}
.visit-search-list li a {
  text-decoration: none;
  color: #333;
}
.visit-search-list li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 30px;
  color: #333;
}

@media (max-width: 767px) {
  .visit-search-list {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .visit-search-list .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #fff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    padding: 3rem;
  }
}
@media (min-width: 767px) {
  .visit-search-list .menu-list .menu-content {
    display: block;
  }
}


/******<< Search Styles >>******/

.search form {
  margin-top: 40px;
}

/******<< Profile Styles >>******/

#save_user {
  display: none;
}

.createteam {
  border-right: 1px solid #eee;
}

/******<< Map Styles >>******/

#map {
  height: 59vh;
  margin: auto;
  width: 45vw;
}

/*.tab-content>.tab-pane {
    display: block;
    visibility: hidden;
}

.tab-content>.tab-pane.active {
    display: block;
    visibility: visible;
}*/


.search #map, .profile #map {
  height: 65vh;
  margin: auto;
  width: 65vw;
}

/******<< List Styles >>******/

#list {
  margin: auto;
  overflow: auto;
}

.highlight {
  background-color: yellow;
}

/******<< Footer Styles >>******/

footer {
  margin: 0 20px;
  clear: both;
}
