/*
Author: gooWee - gooWee@mail.com
Author URI: http://www.goowee.io/
*/

/******<< Global Styles >>******/




section {
  margin-top: 30px;
  margin-bottom: 40px;
}


/******<< Section Styles >>******/


.topspacing {
  margin-top: 40px;
}

#map {
  height: 65vh;
  margin: auto;
  width: 65vw;
}

#save_user {
  display: none;
}
