html, body {
  height: 100%;
  width: 100%;
}

h1 {
  margin-left: 40px;
}

.dashcontainer {
  height: 100%;
  width: 100%;
}

.cal-container {
  float:left;
  margin: 2%;
  width: 46%;
}

.maplist-container {
  float:right;
  margin: 2%;
  width: 46%;
}

#map {
  height: 65vh;
  width: 45vw;
  display: none;
}

#list {
  display: block;
  margin: auto;
}
