body {
  padding-top: 50px;
  padding-bottom: 20px;
}

section {
  margin-top: 80px;
}

table {
  margin: 40px auto;
}

td {
  padding: 20px;
  vertical-align: middle;
}

td:first-child {
  text-align: center;
}

.img_placeholder {
  height: 300px;
  width: 500px;
  background-color: gray;
  border-radius: 10px;
}
